{% extends 'base.html' %}

{% load static %}

{% block content %}
<section class="site-hero" style="background-image: url({% static 'images/test_pic1.jpg' %})" id="section-home" data-stellar-background-ratio="0.5">
    <div class="container">
      <div class="row intro-text align-items-center justify-content-center">
        <div class="col-md-10 text-center">
          <h1 class="site-heading site-animate">Hello, I'm <strong>Michael Wahl</strong></h1>
          <p class="lead site-subheading mb-4 site-animate">software engineer</p>
          <p><a href="#section-about" class="smoothscroll btn btn-primary px-4 py-3">More On Me</a></p>
        </div>
      </div>
    </div>
  </section>

  <!-- ABOUT ME -->
  <section class="site-section" id="section-about">
    <div class="container">
      <div class="row mb-5 align-items-center">
        <div class="col-lg-7 pr-lg-5 mb-5 mb-lg-0">
          <img src="{% static 'images/me.jpg' %}" alt="Image placeholder" class="img-fluid">
        </div>
        <div class="col-lg-5 pl-lg-5">
          <div class="section-heading">
            <h2>About <strong>Me</strong></h2>
          </div>
          <p class="lead">Separated they live in Bookmarksgrove right at the coast of the Semantics, a large language ocean.</p>
          <p class="mb-5  ">A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>

          <p>
            <a href="#section-contact" class="btn btn-primary px-4 py-2 btn-sm smoothscroll">Hire Me</a>
            <a href="#" class="btn btn-secondary px-4 py-2 btn-sm">Download CV</a>
          </p>
        </div>
      </div>
  </section>


  <!-- MY SKILLS -->
  <section class="site-section border-top pb-0"  id="section-services">
    <div class="container">
      <div class="row mb-6">
        <div class="col-md-12">
          <div class="section-heading text-center">
            <h2>My <strong>Skills</strong></h2>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-6 col-lg-6 text-center mb-5">
          <div class="site-service-item site-animate" data-animate-effect="fadeIn">
            <span class="icon">
              <span class="icon-desktop"></span>
            </span>
            <h3 class="mb-6">Front End Development</h3>
            <ul class="skill-list">
                <li>HTML5</li>
                <li>CSS3</li>
                <li>SASS</li>
                <li>Javascript</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 text-center mb-5">
          <div class="site-service-item site-animate" data-animate-effect="fadeIn">
            <span class="icon">
              <span class="icon-cogs"></span>
            </span>
            <h3 class="mb-6">Back End Development</h3>
            <ul class="skill-list">
                <li>Node.js</li>
                <li>Python3</li>
                <li>PHP</li>
                <li>SQL</li>
                <li>RESTful APIs</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 text-center mb-5">
          <div class="site-service-item site-animate" data-animate-effect="fadeIn">
            <span class="icon">
              <span class="icon-wrench"></span>
            </span>
            <h3 class="mb-6">Tools and Technologies</h3>
            <ul class="skill-list">
                <li>React</li>
                <li>Redux</li>
                <li>Express.js</li>
                <li>Django</li>
                <li>jQuery</li>
                <li>Postgresql</li>
                <li>MongoDB</li>
            </ul>
          </div>
        </div>

        <div class="col-md-6 col-lg-6 text-center mb-5">
          <div class="site-service-item site-animate" data-animate-effect="fadeIn">
            <span class="icon">
              <span class="icon-book"></span>
            </span>
            <h3 class="mb-6">Other Skills</h3>
            <ul class="skill-list">
                <li>Teamwork</li>
                <li>Agile Development</li>
                <li>Public Speaking</li>
                <li>Grit</li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </section>


  <!-- PORTFOLIO -->
  <section class="site-section" id="section-portfolio">
    <div class="container">
      <div class="row">
        <div class="section-heading text-center col-md-12">
            <h2>Featured <strong>Portfolio</strong></h2>
        </div>
      </div>
      <div class="filters">
            <ul>
                <li class="active" data-filter="*">All</li>
                <li data-filter=".full_stack">Full Stack</li>
                <li data-filter=".front_end">Front End</li>
                <li data-filter=".back_end">Back End</li>
            </ul>
      </div>       
        <div class="filters-content">
            <div class="row grid">
                {% if projects %}
                {% for project in projects %}
                    <div class="single-portfolio col-sm-6 all {{ project.stack }}">
                        <div class="p-inner">
                            <h3 class="bold">{{ project.name }}</h3>
                            <p>{{ project.description }}</p>
                            <div class="project-links">
                                <a href="{{ project.github_link }}" class="social-item" target="_blank">Code <span class="icon-code"></span></a>
                                {% if project.is_live %}
                                    <a href="{{ project.live_link }}" class="social-item" target="_blank">Demo <span class="icon-laptop"></span></a>
                                {% endif %}
                            </div>
                        </div>                                         
                    </div>
                {% endfor %}
                {% else %}
                    <div><p>No projects to show at the moment :(</p></div>
                {% endif %}
                
            </div>
        </div>
    </div>
  </section>

  <!-- CONTACT -->

  <section class="site-section bg-light" id="section-contact">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-5">
          <div class="section-heading text-center">
            <h2><strong>Contact</strong> Me?</h2>
          </div>
        </div>
        
        <div class="col-md-7 mb-5 mb-md-0">
          <form method="POST" class="site-form">
              <h3 class="mb-5">Get In Touch</h3>
              {% csrf_token %}
              {{ form }}
              <input type="submit" class="btn btn-primary  px-4 py-3" value="Send Message">
          </form>
        </div>
        <div class="col-md-5 pl-md-5">
          <h3 class="mb-5">My Contact Details</h3>
          <ul class="site-contact-details">
            <li>
              <span class="text-uppercase">Email</span>
              michaelwahl9@gmail.com
            </li>
            <li>
              <span class="text-uppercase">Phone</span>
              (651)-262-3704
            </li>
            <li>
              <span class="text-uppercase">Github</span>
              https://github.com/wahlmichael
            </li>
             <li>
              <span class="text-uppercase">LinkedIn</span>
              https://www.linkedin.com/in/michael-wahl-164655178/
            </li>
          </ul>
        </div>
      </div>
    </div>
  </section>

{% endblock %}